.container-footer {
    background-image: linear-gradient(to right, #F5680B, #EC5116, #EC3016);
}

.container-footer label{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 25px;
    font-style: normal;
    color: white;
}

.container-footer p{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: white;
}

.sobre-nos {
    margin-left: 5%;
    margin-top: 3%;
}

.sobre-nos label {
    margin-bottom: 20px;
}

.sobre-nos p {
    margin-top: -10px;
}

.direitos-reservados p {
    color: white;
    margin-top: 3%;
    margin-left: 25%;
}

.institucional {
    margin-left: 10%;
    margin-top: 3%;
}

.institucional label {
    margin-bottom: 20px;
}

.institucional p {
    margin-top: -30px;
}

.mais {
    margin-left: 15%;
    margin-top: 3%;
}

.mais label {
    margin-bottom: 20px;
}

.mais p {
    margin-top: -30px;
}

