{% load static %}

<link rel="stylesheet" href="{% static 'footer/css/footer.css' %}">


<div class="container-footer">
    <nav class="navbar navbar-expand-lg">
        <div class="sobre-nos">
            <label for="">Sobre Nós</label>
            <p>Telefone: (13) 98765-4321</p>
            <p>Email: bodymastery@gmail.com</p>
        </div>
        <div class="institucional">
            <label for="">Institucional</label>
            <br>
            <a href="#"><p>FAC</p></a>
            <a href="#"><p>Fale conosco</p></a>
            <a href="#"><p>Quem somos?</p></a>
            <a href="#"><p>Política de Privacidade</p></a>
        </div>
        <div class="mais">
            <label for="">Mais</label>
            <br>
            <a href="#"><p>Planos</p></a>
            <a href="#"><p>Meu perfil</p></a>
            <a href="#"><p>Dashboard</p></a>
            <a href="#"><p>Suporte online</p></a>
        </div>
        <div class="direitos-reservados">
            <p>© 2024 Body Mastery Todos os direitos reservados.</p>
        </div>
    </nav>
    
</div>