{% load static %}

<link rel="stylesheet" href="{% static 'navbar/css/navbar.css' %}">


<div class="conteiner">
    <nav class="navbar navbar-expand-lg">
        <img id="icon-logo" src="{% static 'navbar/images/logo.png' %}" alt="Logo do site com coração e uma aninlha">

        <div class="text-nav">
            <table>
                <tr>
                    <a href="#">Home</a>
                    <a href="#">Dashboard</a>
                    <a href="#">Contato</a>
                </tr>
            </table>
        </div>

        <div class="btn-group">
            <a href="{% url 'login' %}" class="btn btn-outline-light" aria-current="page">Login</a>
            <a href="{% url 'cadastro' %}" class="btn btn-light  active">Cadastro</a>
          </div>
    </nav>
</div>
