{% extends 'base.html' %}
{% load static %}


{% block 'title' %} Cadastro {% endblock 'title' %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'usuarios/css/cadastro.css' %}"> {% endblock 'head' %}

{% block 'main' %}
<div class="container">
    <div class="titulo-cadastro">
        <p>Cadastro</p>
    </div>
</div>

<div class="container">
    <form action="#" method="post" class="cadastro-input-group"> {% csrf_token %}
        <div class="nome-input">
            <img src="{% static 'usuarios/images/user.png' %}" alt="">
            <input type="text" placeholder="Digite seu nome">
        </div>
        <div class="senha-input">
            <img src="{% static 'usuarios/images/lock.png' %}" alt="">
            <input type="text" placeholder="Digite sua senha">
        </div>
        <div class="confirma-senha-input">
            <img src="{% static 'usuarios/images/lock.png' %}" alt="">
            <input type="text" placeholder="Confirme sua senha">
        </div>
        <div class="botao-cadastrar">
            <button type="submit">Cadastrar</button>
            <br>
            <br>
            <a href="#">Já tenho login.</a>
        </div>
    </form>
</div>

<div class="container">
    <form action="#" method="post" class="cadastro-outra-maneira-group"> {% csrf_token %}
        <div class="text-outra-maneira">
            <p>Não conseguiu?</p>
            <p>Tente de outra maneira</p>
        </div>
        <div class="facebook-login">
            <button type="submit"><img src="{% static 'usuarios/images/facebook.png' %}" alt=""></img>Entrar com Facebook</button>
            
        </div>
        <div class="google-login">
            <button type="submit"><img src="{% static 'usuarios/images/google.png' %}" alt=""></img>Entrar com Google</button>
        </div>
        <div class="apple-login">
            <button type="submit"><img src="{% static 'usuarios/images/apple.png' %}" alt=""></img>Entrar com Apple</button>
        </div>
    </form>
    <br><br><br><br><br><br><br>
</div>
{% endblock 'main' %}